nav{
    display: flex;
    flex-direction: row;
    height: 80px;
    width:100%;
    background-color: orange;
    color:#fff;
    font-size: 30px;
    text-transform: capitalize;
    font-family: Verdana, Geneva, Tahoma, sans-serif;    
}

.logo {
    float: left;
    font-weight: bold;
    text-shadow: 0 0 5px #333;
    padding: 10px;
}

.logo span {
    color: #000;
}

nav ul {
    list-style: none;
    margin-left: 35px;
}

nav ul .li {
    display: inline-block;
    font-size: 18px;
    padding: 22px;
}

nav a {
    text-decoration: none;
    color: #ffffff;
}


